scraper/raw.txt
public/data
venv/*
scraper/__pycache__/*
.pytest_cache/*
.vscode/*
scraper/.env
*.log
scraper/*.log
.DS_Store
scraper/*.env
scraper/major_courses.json
node_modules
dist
.coverage
__pycache__/
