h1 {
    color:brown;
    font-family: Courier New;
    padding-left:20px;
}

html,
body,
#sigma-container {
    width: 100%;
    height: 80%;
    /* overflow: hidden; */
    background-color:beige
}

#ui-bar {
    width: 100%;
    height: 15%;
    position: absolute;
    top: 85%;
    left: 0;
    background-color: aqua;
}
